.navbar {
  display:grid;
  top: 0;
  height: clamp(50px, 100vh, 100vh);
  position:sticky;
  overflow: scroll;
  grid-template-columns: 8fr 1fr;
  margin: 0;
  padding: 5px;
  width: clamp(260px, 100%, 560px);
  background-color: var(--blue500);
  backdrop-filter: blur(10px);
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px) brightness(0.9);
  z-index:2;
}

@media only screen and (max-width:900px){
}

.navbar .nav_links{
	display: flex;
	width: inherit;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.navbar a{
	font-size: clamp(1rem, 2.5rem, 3.0rem);
	padding: 20%;
	text-decoration:none;
	color: var(--gold500);
	transition: font-weight 300ms ease-in-out;
}

.navbar a:hover{
	font-weight: 300;
}

@keyframes nav_link_split_breath{
from{width:60%}
to{width:20%}
}

.navbar .nav_link_split{
	width: 80%;
	border:solid var(--blue100);
	border-radius: 1px;
	border-width: 2px;
	animation-name:nav_link_split_breath;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
}

.navbar .nav_toggle{
  margin: 0;
  object-fit:contain;
  width: 2em;
  display:inline-flex;
}

.navbar .nav_toggle svg{
	max-width:100%;
	rotate:180deg;
	display:block;
}

.navbar .nav_toggle .nav_button{
	width:100%;
	border:none;
	background-color:inherit;
	transition:background-color 230ms ease-in-out;
}

.navbar .nav_toggle .nav_button:hover{
	width:100%;
	border:none;
	cursor:pointer;
	background-color:var(--blue100);
}

