.main .content .project{
	display: grid;
	grid-template-columns: 1fr;
}

.main .content .p_title{
	cursor: pointer;
	display: flex;
	width: auto;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-weight: 600;
	transition:font-weight 350ms ease-in-out;
}

.main .content .p_title:hover{
	font-weight: 400;
	transition:font-weight 350ms ease-in-out;
}

.main .content .p_title .p_border{
	width: 10%;
	padding-top: 10px;
	border-radius: 1px;
	border-bottom: 5px solid var(--gold600);
	transition:width 530ms ease-in-out;
}

.main .content .p_title:hover .p_border{
	width: 90%;
	transition:width 530ms ease-in-out;
}

.main .content .project .project_content {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.main .content .project .project_attributes {
	margin: 1em 1em 1em 1em;
	border: 8px inset var(--gray100);
}


.main .content  .project .c_border{ 
	border: 10px ridge var(--blue100);
}

.main .content .project .project_img {
	float:left;
	margin: 0em 1em 0.5em 0em;
}

.main .content .project .project_content img{
	padding: 0.2em;
	background-color: var(--blue500);
	border: 15px outset var(--blue200);
	max-width: 150px;
	max-height: 150px;
	margin-right: 0;
}

.main .content .project .project_content .project_desc{
	align-text: center;
	padding: 1em;
	font-size: 1.2rem;
	font-weight: 600;
}
